<!doctype html>
<html>
<head>
  <title>Assignment 2</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.css">
  <link rel="stylesheet" type="text/css" href="css/bootstrap-social.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/css/materialize.min.css">
  <link rel="stylesheet" type="text/css" href="css/stylesheet.css">
</head>

<body> 
  <div class="center-align">
    <div class="ig_container">
         <a class="btn btn-lg btn-instagram" href="/auth/instagram">
        <i class="fa fa-instagram"></i> Login with Instagram</a>
    </div>

    <br/>

    <div class="fb_container">
      <a class="btn btn-lg btn-facebook" href="/auth/instagram">
        <i class="fa fa-facebook"></i> Login with Facebook</a>
    </div>
  </div>

</body>
</html>