<!doctype html>
<html>
<head>
  <title>Assignment 1</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link rel="stylesheet" type="text/css" href="css/c3.min.css">
    <link rel="stylesheet" type="text/css" href="css/visualization.css">
    <link rel="stylesheet" type="text/css" href="css/stylesheet.css">
</head>

<body>

  <h2> Media Count of Who You Follow on Instagram</h2>
  <div id="canvas-svg"></div>
  <div class="sort">
      <input type="checkbox" id="sort_bargraph"/>
      <label for="sort_bargraph">Sort</label>
  </div>


  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="js/d3.min.js"></script>
  <script src="js/visualization.js"></script>
</body>
</html>
